div(class="container")
	div(class="span12")
		h1 Keywords
		p We are tracking the following Keywords
		ul
			li #WaldoCanyonFire
			li #WaldoFire
			li #waldocanyon
			li Waldo
			li Colorado Springs

		h1 Credits
		p Made by 
		li Robbie Trencheny 
			a(href="http://twitter.com/robbie") (@Robbie) - me@robbiet.us
		li Scott Seibold 
			a(href="http://twitter.com/scottseibold") (@scottseibold) - scottseibold@gmail.com


		h1 Powered by 
			ul
			li
				a(href="http://nodejs.org") node.js
			li
				a(href="https://github.com/avianflu/ntwitter") nTwitter
			li
				a(href="https://github.com/learnboost/socket.io") socket.io
		h1 About
		p We wanted to get information out fast about the Waldo Canyon Fire. This is what we made.
		h1 Changelog
		h2 v1
		ul
			li Initial commit
			li Streaming support
