script
	function fixTwitterURL(text,urls) {
			$.each(urls,function(){
				url1 = '<a target="_blank" href="'+this.expanded_url+'">'+this.expanded_url+'</a>';
				text = text.replace(this.url, url1);
			});
			
			text = text.replace(/(^|)@(\w+)/gi, function (s) {
					return '<a target="_blank" href="http://twitter.com/' + s + '">' + s + '</a>';
			});

			text = text.replace(/(^|)#(\w+)/gi, function (s) {
					return '<a target="_blank" href="http://search.twitter.com/search?q=' + s.replace(/#/,'%23') + '">' + s + '</a>';
			});
			return text;
			return final;
	}
	function Linkify(text) {
			/*text = text.replace(/(https?:\/\/\S+)/gi, function (s) {
					return '<a href="' + s + '">' + s + '</a>';
			});*/

			text = text.replace(/(^|)@(\w+)/gi, function (s) {
					return '<a target="_blank" href="http://twitter.com/' + s + '">' + s + '</a>';
			});

			text = text.replace(/(^|)#(\w+)/gi, function (s) {
					return '<a target="_blank" href="http://search.twitter.com/search?q=' + s.replace(/#/,'%23') + '">' + s + '</a>';
			});
			return text;
	}
	var socket = io.connect('/');
	soundManager.setup({
		url: '/swf',
		flashVersion: 9, // optional: shiny features (default = 8)
		useFlashBlock: true, // optionally, enable when you're ready to dive in/**
		useHTML5Audio: true,
		onready: function() {
			soundManager.createSound({
						id: 'ding',
						url: '/snd/ding.wav',
						autoLoad: true,
						autoPlay: false,
						onload: function() {
						},
						volume: 100
					});
			soundManager.createSound({
						id: 'streza',
						url: '/snd/Codec.wav',
						autoLoad: true,
						autoPlay: false,
						onload: function() {
						},
						volume: 100
					});
		}
	}); 
	socket.on('tweet', function (data) {
		if(data.entities.urls) {
			var text = fixTwitterURL(data.text,data.entities.urls);
		} else {
			var text = Linkify(data.text);
		}
		var screen_name = Linkify('@'+data.user.screen_name);
		var tweet_link = "<a target='_blank' href='http://twitter.com/"+data.user.screen_name+"/status/"+data.id_str+"'>Link</a>";
		if ($('#sound_checkbox').is(':checked')) {
			soundManager.play('ding');
		}
		if ($('#streza_sound_checkbox').is(':checked')) {
			soundManager.play('streza');
		}
		
		if (!$('#pause_checkbox').is(':checked')) {
			if((data.user.screen_name == "Robbie") || (data.user.screen_name == "EPCSheriff") || (data.user.screen_name == "mayorstevebach") || (data.user.screen_name == "springsgov")) {
				$('#official_tweets').prepend('<p>'+data.user.name+' ('+screen_name+')<br> '+text+'</p><hr>');
				soundManager.play('ding');
			} 

			if(data.entities.media) {
				if(!$('#rt_checkbox').is(':checked')) {
					if (data.text.indexOf("RT") == -1) {
						$('#tweets').prepend('<tr class="tweet" id="tweet_'+data.id+'"><td>'+screen_name+'</td><td>'+text+' ['+tweet_link+']</td>');
						$('#pictures').prepend('<a target="_blank" href="'+data.entities.media[0].expanded_url+'">Picture by: '+data.user.name+' ('+screen_name+')</a><br><a target="_blank" href="'+data.entities.media[0].expanded_url+'" target="_blank"><img class="picture" src="'+data.entities.media[0].media_url+'" width="300" height="300"></a><hr>');
					}
				} else {
					$('#tweets').prepend('<tr class="tweet" id="tweet_'+data.id+'"><td>'+screen_name+'</td><td>'+text+' ['+tweet_link+']</td>');
					$('#pictures').prepend('<a target="_blank" href="'+data.entities.media[0].expanded_url+'">Picture by: '+data.user.name+' ('+screen_name+')</a><br><a target="_blank" href="'+data.entities.media[0].expanded_url+'" target="_blank"><img class="picture" src="'+data.entities.media[0].media_url+'" width="300" height="300"></a><hr>');
				}
			} else {
				if(!$('#rt_checkbox').is(':checked')) {
					if (data.text.indexOf("RT") == -1) {
						$('#tweets').prepend('<tr class="tweet" id="tweet_'+data.id+'"><td>'+screen_name+'</td><td>'+text+' ['+tweet_link+']</td>')
					}
				} else {
				if ($('#sound_checkbox').is(':checked')) {
					soundManager.play('ding');
				}
				if ($('#streza_sound_checkbox').is(':checked')) {
					soundManager.play('streza');
				}
					$('#tweets').prepend('<tr class="tweet" id="tweet_'+data.id+'"><td>'+screen_name+'</td><td>'+text+' ['+tweet_link+']</td>')
				}
				//'
			}
		}
	});

div(class="container-fluid")
	div(class="row-fluid")
		div(class="span2")
		div(class="span8")
			h1 Welcome
			p This is the #WaldoCanyonFire tracker. Tweets will start to flow in the center column shortly. Pictures automatically get put in the left sidebar. If the city tweets anything, it will be put in the right side and ding (no matter your sound preferences).
				You can use the checkboxes below to change your settings. Uncheck the Retweet box to "slow down" the feed. Select the Pause checkbox to pause the feed for a while. Check the sound box to make the page "ding" everytime that a new tweet comes in.
		div(class="span2")
	div(class="row-fluid")
		div(class="span2")
			h1 Pictures
			div(id="pictures", style="text-align:center;")
		div(class="span8")
			h1 Tweets
			p Sound
				input(type="checkbox", id="sound_checkbox", name="sound_checkbox", value="sound")
			p Pause
				input(type="checkbox", id="pause_checkbox", name="pause_checkbox", value="pause")
			p Retweets enabled
				input(type="checkbox", id="rt_checkbox", name="rt_checkbox", value="rt_enabled", checked="checked")
			table(class="table table-striped table-bordered")
				thead
					tr
						th User
						th Tweet
				tbody(id="tweets")
		div(class="span2")
			h1 Official Messages
			div(id="official_tweets")